@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #fff;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 190vh;
  display: block;
  z-index: 2;
  background-color: #E78E2A;
  padding-top: 150px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav li {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 20px 16px;
  background-color: #E78E2A;

  font-size: 22px;
  font-weight: 550;
  color: #FFF;
  text-decoration: none;
}

.mobile-nav a,
.mobile-nav a:visited {
  color: #FFF;
  text-decoration: none;
}

.mobile-nav li:hover::after {
  background-color: #FFF;
}

.mobile-nav a:hover::after {
  background-color: #FFF;
}

.hamburger {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

button.normal {
  cursor: pointer;
  padding: 12px 20px;
  background-color: #E78E2A;
  border: 2px solid #E78E2A;
  border-radius: 25px;
  color: #fff;
}

button.normal:hover {
  background-color: transparent;
  border: 2px solid #E78E2A;
  color: #E78E2A;
  transition: ease .3s;
}

button.white {
  cursor: pointer;
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid #E78E2A;
  border-radius: 25px;
  color: #E78E2A;
}


button.white:hover {
  background-color: #E78E2A;
  border: 2px solid #E78E2A;
  color: #fff;
  transition: ease .3s;
}

.storeHead .right button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 50px 30px;
  height: 30px;
  justify-content: space-between;
}

.homepage .navbar {
  padding: 40px 30px;
}

.navbar img {
  margin-left: 0px;
  width: 180px;
  height: 180px;
}

.navbar h1 {
  color: #E78E2A;
}

.about .navbar h1 {
  color: #fff;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li {
  position: relative;
  list-style: none;
  margin: 0 20px;
}

a {
  color: #E78E2A;
}

li::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -2px;
  width: 0;
  background: #E78E2A;
  transition: width .2s;

}

.about li::after {
  background: #fff;
}

li:hover::after {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #eaeaea;
}

.footer img {
  width: 35px;
  height: 35px;
}


/* HOMEPAGE  */

.home {
  display: flex;
  align-items: center;
  padding: 95px 130px 110px 220px;
}

.home button.white {
  margin-left: 10px;
}

.homepage .navbar {
  border-bottom: 2px;
  box-shadow: -2px 5px 7px -5px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -2px 5px 7px -5px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -2px 5px 7px -5px rgba(0, 0, 0, 0.64);
}

.home h1 {
  font-size: 36px;
}

.home button {
  margin: 20px 0;
}

.home img {
  width: 400px;
  height: 300px;
}

.home .left {
  margin: 0 80px 0 50px;
}

.section-1 {
  text-align: center;
}

.section-1 img {
  margin: 20px 10px;
  height: 50px;
  width: 50px;
}

.ad1 {
  padding: 50px 200px 20px 200px;
}

.ad1 .contain {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #eaeaea;
  border-radius: 20px;
}

.ad1 .contain .left {
  margin-left: 25px;
}

.ad1 .contain p {
  margin: 20px 0;
}

.ad1 .contain img {
  margin: 0 0 0 150px;
  width: 300px;
  height: 400px;
}

.reviews {
  margin: 50px 0;
  text-align: center;
}

.reviews .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 60px 0;
}

.review {
  padding: 30px 5px;
  background-color: #eaeaea;
  width: 300px;
  border-radius: 15px;
  margin: 0 25px 0 0;
}

.review h1 {
  font-size: 20px;
  font-weight: 600;
}

.review h4 {
  font-size: 18px;
  font-weight: 600;
}

.ad1.two {
  margin-bottom: 50px;
}


/* ABOUT PAGE  */




.about {
  background-color: #E78E2A;
  color: #fff;
}

.about a {
  color: #fff;
}

.about-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 90px 84px 90px;
}

.about-container h1 {
  font-size: 56px;
}

.about-container h2 {
  font-size: 32px;
}

.about-container hr {
  height: 2px;
  width: 500px;
  background-color: #fff;
  border: none;
  margin: 20px 0 20px 0;
}

.about-container button {
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 12px 25px;
  background-color: transparent;
  border-radius: 25px;
}

.about-container button:hover {
  background-color: #fff;
  color: #E78E2A;
  transition: ease .3s;
}

.about-img img {
  height: 340px;
  width: 500px;
  border-radius: 20px;
  /* margin-left: 20px; */
}

/* Featured */

.featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 180px;
}

.f1 {
  padding: 20px;
  width: 400px;
  border-radius: 20px;
  border: 1px solid;
}

.f1 img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  margin: 20px 0;
}

.f1 button {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 2px;
}

.f2 {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 390px;
  border-radius: 20px;
  border: 1px solid;
  margin: 20px;
}

.f2 img {
  width: 160px;
  height: 120px;
  border-radius: 20px;
}

.f2 button {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 2px;
}

.f2 .flexpart {
  margin-left: 20px;
  font-weight: 600;
}


/* ORDER PAGE  */

.order {
  padding: 20px 0;
  text-align: center;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.category button {
  margin-right: 7px;
  padding: 8px 16px;
}

.cartpic img {
  margin: 5px 0 0 10px;
  width: 25px;
  height: 25px;
}

.totalQuantity {
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: x-small;
  background-color: #b31010;
  width: 20px;
  height: 20px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateX(20px);
}

.store {
  padding: 20px 100px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.item {
  margin-top: 20px;
  padding: 10px 0 20px 0;
  border: 1px solid;
  text-align: center;
  border-radius: 20px;
  width: 270px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75)
}

.item h1 {
  font-size: 20px;
}

.item p {
  font-size: 16px;
}

.item img {
  border-radius: 20px;
  width: 200px;
  height: 150px;
  margin: 20px 0 10px 0;
}

.item button {
  margin: 5px 0 0 0;
}


/* STORE PAGE  */

.storeHead .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: -50px 0;
}

.storeHead .head .left img {
  margin: 0 -40px;
  width: 200px;
  height: 200px;
}

.storeHead .head .right img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.storeHead .head .right {
  display: flex;
}

.storeHead .head .profile {
  margin-left: 20px;
}

.storeHead .head input {
  resize: none;
  color: #000;
  width: 120%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-image: url("/src/assets/search.png");
  background-size: 15px;
  background-position: 8px 8px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
}

.storeFace {
  padding: 20px 150px;
}

.storeFace h1 {
  margin-bottom: 30px;
}

.categories {
  display: flex;
  align-items: center;

  /**used to scroll text*/
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  /**keep scrolling when finger or cursor scrolling*/
  -webkit-overflow-scrolling: touch;
}

.categories::-webkit-scrollbar {
  display: none;
}

.cat {
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #FF9090;
  width: 80px;
  margin-right: 30px;
}

.cat img {
  width: 50px;
  height: 50px;
}

.cat p {
  font-size: 14px;
}

/* CARD STYLE  */

.contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 15px;
  padding: 10px 150px;
}

.card {
  padding: 10px;
  border-radius: 10px;
  /* background-color: #eaeaea; */
  width: 300px;
}

.card:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  transition: ease .3s;
}

.card img {
  width: 300px;
  border-radius: 10px;
  /* height: 300px; */
}

.card img.misc {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.card .flex {
  justify-content: space-between;
  align-items: center;
}

.card h1 {
  font-size: 24px;
  font-weight: 500;
}

.card h5 {
  font-weight: 500;
  font-size: 15px;
}

.card h6 {
  color: #E78E2A;
}

.card .flex.no {
  justify-content: unset;
  margin: 5px 0;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right button {
  padding: 3px 10px;
  font-size: 12px;
}










/* CART SLIDE PART  */

.listProduct {
  padding: 20px 0px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.listProduct .itemcart img {
  width: 100%;
}

.listProduct .itemcart h2 {
  font-weight: 700;
  font-size: x-large;
}

.listProduct .itemcart .price {
  font-size: x-large;
}

.listProduct .itemcart {
  text-align: center;
  padding: 20px 60px;
  width: 200px;
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.listProduct button {
  padding: 10px 24px;
  border: 2px solid #E78E2A;
  border-radius: 25px;
  background-color: #E78E2A;
  color: #fff;
}


.listProduct button:hover {
  border-radius: 25px;
  background-color: transparent;
  color: #E78E2A;
  transition: ease 0.3s;
}


.cart {
  color: #fff;
  position: fixed;
  top: 0;
  right: -125%;
  width: 400px;
  height: 100vh;
  background-color: #000;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 20px;
  transition: right 1s;
  overflow: hidden;
}

.cart h2 {
  color: #E78E2A;
  padding: 20px;
  margin: 0;
}

.cart .listCart .itemcart {
  display: grid;
  grid-template-columns: 50px 1fr 70px;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.cart .listCart img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.cart .listCart .itemcart .name {
  font-weight: bold;
}

.cart .listCart .itemcart .quantity {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cart .listCart .itemcart .quantity button {
  padding: 0px 6px;
}

.cart .listCart .itemcart span {
  display: block;
  width: 50px;
  text-align: center;
}

.cart .listCart {
  padding: 20px;
  overflow: auto;
}

.cart .listCart::-webkit-scrollbar {
  width: 0;
}

.cart button:hover {
  background-color: initial;
  border: 2px solid initial;
  color: initial;
  transition: initial;
}



.cart .buttons {
  cursor: pointer;
  padding: initial;
  background-color: initial;
  border: initial;
  color: initial;
  background-color: none;
  border: initial;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.cart .buttons div {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.cart .buttons a {
  color: #fff;
}

.cart .buttons .checkout {
  background-color: #E78E2A;
}

.checkoutLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}

.checkoutLayout .right {
  background-color: #E78E2A;
  border-radius: 20px;
  padding: 40px;
  color: #fff;
}

.checkoutLayout .right .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.checkoutLayout .form h1,
.checkoutLayout .form .group:nth-child(-n+3) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.checkoutLayout .form input,
.checkoutLayout .form select {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  background-color: #fff;
  color: #000;
}

.checkoutLayout .right .return .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.checkoutLayout .right .return .row div:nth-child(2) {
  font-weight: bold;
  font-size: x-large;
}

.buttonCheckout {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 20px;
  font-weight: bold;
  color: #000;


}

.returnCart h1 {
  border-top: 1px solid #eee;
  padding: 20px 0;
}

.returnCart .list .itemcart img {
  height: 80px;
}

.returnCart .list .itemcart {
  display: grid;
  grid-template-columns: 80px 1fr 50px 80px;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  padding: 0 10px;
  box-shadow: 0 10px 20px #5555;
  border-radius: 20px;
}

.returnCart .list .itemcart .name,
.returnCart .list .itemcart .returnPrice {
  font-size: large;
  font-weight: bold;
}




/* LOGIN  */
.container .form {
  padding: 2rem;
  text-align: center;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
}

.registration {
  margin-top: -30px;
}

.form .flex {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 3.5rem 0;
}

.form .flex img {
  width: 60px;
  height: 60px;
}

.form input {
  height: 60px;
  width: 50%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

span {
  font-size: 16px;
  color: #E78E2A;
  text-decoration: none;
}

span:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  width: 52.5%;
  background: #E78E2A;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:hover {
  background: #cd7f25;
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup label {
  color: #E78E2A;
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}


/* Admin Page  */

.header {
  color: #FFF;
  padding: 10px;
  border-top: 20px;
  background-color: #E78E2A;
}

.admin_page {
  padding: 0px 0 0 0;
  min-height: 92vh;
  display: flex;
}

.Navigation {
  background-color: #e0e0e0;
}

.options {
  margin: 50px 0 0 0;
}

.options h4 {
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  margin: 20px;
  padding: 5px 40px 5px 10px;
  background-color: #E78E2A;
  border-radius: 8px;
}

.main_panel {
  padding: 20px 30px;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px 50px 8px 8px;
  font-size: 18px;
}

th {
  background-color: #E78E2A;
}

td {
  background-color: #e09a49;
}










/* RESPONSIVENESS  */

@media (max-width: 786px) {

  .storeFace {
    padding: 20px 60px;
  }

  .contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 15px;
    padding: 10px 60px;
  }

}

@media (max-width: 422px) {

  .mobile-nav {
    display: initial;
  }

  .hamburger button {
    cursor: pointer;
    padding: initial;
    background-color: initial;
    border: initial;
    color: initial;
    background-color: none;
    border: initial;
    text-align: center;
  }

  .hamburger button:hover {
    background-color: none;
    border: none;
    color: initial;
    transition: none;
  }

  .hamburger {
    display: initial;
    z-index: 1100;
    position: relative;
    display: block;
    width: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    margin: 6px 0px 6px 0px;
    transition: 0.4s;
  }

  /* button:hover {
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    transition: ease 0.3s;
  } */

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8.5px, 5px);
    background: #fff;
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-6px, -3px);
    background: #fff;
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .navbar ul {
    display: none;
  }

  .navbar h1 {
    font-size: 20px;
  }

  .home {
    display: block;
    padding: 50px 0px 70px 0px;
    text-align: center;
  }

  .ad1 {
    padding: 0;
  }

  .ad1 .contain {
    display: none;
  }

  .reviews .flex {
    display: block;
    justify-items: center;
    text-align: -webkit-center;
  }

  .review {
    margin: 0 0 15px 0;
  }

  .home .left {
    margin: 0;
  }

  .home img {
    width: 320px;
    height: 240px;
  }

  .home h1 {
    font-size: 29px;
  }

  .storeFace {
    padding: 10px 30px;
  }

  .cat {
    padding: 15px 25px;
    margin-right: 15px;
  }

  .storeHead .head {
    margin: -50px 0;
  }

  .storeHead .head .left img {
    width: 200px;
    height: 200px;
  }

  .storeHead .head .right img {
    width: 25px;
    height: 25px;
  }

  .center input {
    display: none;
  }

  .card {
    justify-self: center;
  }

  .contain {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .footer {
    display: block;
  }

  .footer .right {
    font-size: 13px;
  }

  .about-container h1 {
    font-size: 36px;
  }

  .about-container h2 {
    font-size: 24px;
  }

  .about-flex {
    display: block;
    text-align: center;
    padding: 34px 50px 84px 50px;
    ;
  }

  .featured {
    display: block;
    padding: 40px 0 20px 0;
    text-align: -webkit-center;
  }

  .featured .f1 {
    width: 300px;
  }

  .about-container hr {
    width: auto;
    text-align: center;
  }

  .about-img img {
    height: 240px;
    width: 320px;
    text-align: center;
    margin: 20px 0 0 -30px;
  }

  .f1 img {
    width: 300px;
    height: 225px;
  }

  .f2 {
    width: auto;
  }

  .f2 .flexpart p {
    font-size: 14px;
  }

  .container .form {
    padding: 2rem 0;
  }

  .form header {
    font-size: 1rem;
  }

  .form input {
    width: 80%;
  }
}

@media (min-width: 422px) and (max-width: 461px) {

  .hamburger button {
    cursor: pointer;
    padding: initial;
    background-color: initial;
    border: initial;
    color: initial;
    background-color: none;
    border: initial;
    text-align: center;
  }

  .hamburger button:hover {
    background-color: none;
    border: none;
    color: initial;
    transition: none;
  }

  .hamburger {
    display: initial;
    z-index: 1100;
    position: relative;
    display: block;
    width: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    margin: 6px 0px 6px 0px;
    transition: 0.4s;
  }

  /* button:hover {
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    transition: ease 0.3s;
  } */

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8.5px, 5px);
    background: #fff;
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-6px, -3px);
    background: #fff;
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .homepage .navbar {
    padding: 30px 30px;
  }

  .navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px 30px;
    height: 30px;
    justify-content: space-between;
  }

  .navbar img {
    margin-left: -20px;
    width: 150px;
    height: 150px;
  }

  .aboutpage .navbar img {
    margin-left: -100px;
    width: 150px;
    height: 150px;
  }

  .navbar ul {
    display: none;
  }

  .navbar h1 {
    font-size: 20px;
  }

  .home {
    display: block;
    padding: 50px 0px 70px 0px;
    text-align: center;
  }

  .ad1 {
    padding: 0;
  }

  .ad1 .contain {
    display: none;
  }

  .reviews .flex {
    display: block;
    justify-items: center;
    text-align: -webkit-center;
  }

  .review {
    margin: 0 0 15px 0;
  }

  .home .left {
    margin: 0;
  }

  .home img {
    width: 320px;
    height: 240px;
  }

  .home h1 {
    font-size: 29px;
  }

  .storeFace {
    padding: 10px 70px;
  }

  .cat {
    padding: 15px 25px;
    margin-right: 15px;
  }

  .storeHead .head {
    margin: -50px 0;
  }

  .storeHead .head .left img {
    width: 200px;
    height: 200px;
  }

  .storeHead .head .right img {
    width: 25px;
    height: 25px;
  }

  .center input {
    display: none;
  }

  .card {
    justify-self: center;
  }

  .contain {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .footer {
    display: block;
  }

  .footer .right {
    font-size: 13px;
  }

  .container .form {
    padding: 2rem 0;
  }

  .form header {
    font-size: 1rem;
  }

  .form input {
    width: 80%;
  }
}